# Logs
logs
*.log
npm-debug.log*

# Node
node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Java / Maven / Spring Boot
target/
*.class
*.jar
*.war
*.ear
*.nar

# Environment and Secrets
.env
.env.*
application-local.properties
src/main/resources/application-local.properties
